@model UrbanDictionary1.Models.Expression

@{
    ViewData["Title"] = "Adauga Expresie";
}

<div class="container">
    <div class="content">
        <div class="add-page">
            <h2>ADAUGĂ O EXPRESIE</h2>
            <form asp-action="TakeDataAndCreate" id="the-form" class="add-form">
                <div asp-validation-summary="ModelOnly" ></div>
                <label asp-for="Name"><b>Expresie</b></label>
                <textarea asp-for="Name"  placeholder="Introdu expresia" rows="1" cols="20" ></textarea>
                <span asp-validation-for="Name" class="text-danger"></span>

                <label asp-for="Explication"><b>Explicație</b></label>
                <textarea asp-for="Explication"   placeholder="Introdu explicația" rows="2" cols="50" ></textarea>
                <span asp-validation-for="Explication" class="text-danger"></span>

                <label asp-for="Example1"><b>Exemplu</b></label>
                <textarea asp-for="Example1"   placeholder="Introdu un exemplul de folosire" rows="3" cols="50" ></textarea>
                <span asp-validation-for="Example1" class="text-danger"></span>

                <button type="submit">Trimite</button>
           
            </form>
        </div>
    </div>
    <div class="sidebar">
        <div class="expression-day">
            <h2>Expresia zilei</h2>
            <div class="expression-card">
                <div class="first-row">
                    <div class="expression">@ViewBag.Name</div>
                    <a href="" class="share"><img src="~/Images/share.svg" /></a>
                </div>
                <div class="explication">@ViewBag.Description</div>
                <div class="example">@ViewBag.Example</div>
                <div class="card-info">
                    adăugat de
                    <a asp-controller="Expressions" asp-action="AuthorExpressionsSidebar" asp-route-id="@ViewBag.Author"><span class="author">@ViewBag.Author</span> </a>
                    pe
                    <span class="date">@ViewBag.Date</span>
                </div>
            </div>
        </div>

        <div class="add-expression">
            <h2>Poți contribui și tu la acest dicționar</h2>
            <a asp-controller="Expressions" asp-action="Create" class="add-button">Adaugă o expresie</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
