@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="container">
    <div class="content">
        <div class="login-page">
            <h2>AUTENTIFICĂ-TE</h2>
            <form id="the-form" method="post" class="login-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Input.Email" placeholder="Introdu adresa de email" autocomplete="email" aria-required="true">
                <label asp-for="Input.Email"><b>Email</b></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>

                <input asp-for="Input.Password" type="password" placeholder="Introdu parola contului" autocomplete="current-password" aria-required="true">
                <label asp-for="Input.Password"><b>Parolă</b></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>

                <div class="checkbox">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>

                <div class="login-password">
                        <button id="login-submit" type="submit">Login</button>
                    <a class="forgot-password" href="">Ai uitat parola?</a>
                </div>

                    <div>
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                       
                    </div>

            </form>
        </div>
    </div>
    <div class="sidebar">
        <div class="expression-day">
            <h2>Expresia zilei</h2>
            <div class="expression-card">
                <div class="first-row">
                    <div class="expression">@ViewBag.Name</div>
                    <a href="" class="share"><img src="~/Images/share.svg" /></a>
                </div>
                <div class="explication">@ViewBag.Description</div>
                <div class="example">@ViewBag.Example</div>
                <div class="card-info">
                    adăugat de
                    <a asp-controller="Expressions" asp-action="AuthorExpressionsSidebar" asp-route-id="@ViewBag.Author"><span class="author">@ViewBag.Author</span> </a>
                    pe
                    <span class="date">@ViewBag.Date</span>
                </div>
            </div>
        </div>

        <div class="add-expression">
            <h2>Poți contribui și tu la acest dicționar</h2>
            <a asp-controller="Expressions" asp-action="Create" class="add-button">Adaugă o expresie</a>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
