@page
@model RegisterModel
@{
    ViewData["Title"] = "Inregistrare";
}




<div class="container">
        <div class="content">
            <div class="register-page">
                <h2>INREGISTREAZĂ-TE</h2>
                <form asp-route-returnUrl="@Model.ReturnUrl" id="the-form" method="post" class="register-form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label asp-for="Input.Username"><b>Nume de utilizator</b></label>
                    <input asp-for="Input.Username" type="text" autocomplete="username" placeholder="Introdu numele de utilizator"  required>
                    <span asp-validation-for="Input.Username" class="text-danger"></span>

                    <label asp-for="Input.Email"><b>Email</b></label>
                    <input asp-for="Input.Email" type="email" autocomplete="email"  placeholder="Introdu adresa de email"  required>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>

                    <label asp-for="Input.Password"><b>Parolă</b></label>
                    <input asp-for="Input.Password" type="password" autocomplete="new-password" placeholder="Introdu parola"  required>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>

                    <label asp-for="Input.ConfirmPassword"><b>Confirmă Parola</b></label>
                    <input asp-for="Input.ConfirmPassword" type="password" autocomplete="new-password" placeholder="Introdu parola din nou"  required>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

                    <button type="submit">Creează Cont</button>
                </form>
            </div>
        </div>


    <div class="sidebar">
        <div class="expression-day">
            <h2>Expresia zilei</h2>
            <div class="expression-card">
                <div class="first-row">
                    <div class="expression">@ViewBag.Name</div>
                    <a href="" class="share"><img src="~/Images/share.svg" /></a>
                </div>
                <div class="explication">@ViewBag.Description</div>
                <div class="example">@ViewBag.Example</div>
                <div class="card-info">
                    adăugat de
                    <a asp-controller="Expressions" asp-action="AuthorExpressionsSidebar" asp-route-id="@ViewBag.Author"><span class="author">@ViewBag.Author</span> </a>
                    pe
                    <span class="date">@ViewBag.Date</span>
                </div>
            </div>
        </div>

        <div class="add-expression">
            <h2>Poți contribui și tu la acest dicționar</h2>
            <a asp-controller="Expressions" asp-action="Create" class="add-button">Adaugă o expresie</a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
